outputs/
work/
_TMP/
tmp/
output/
**/.DS_Store
**/__pycache__/
**/*.pyc
**/DerivedData/
**/.build/
**/build/
**/*.xcuserstate
**/xcuserdata/
app/Kraehenfels.xcodeproj/
audio/generated/
print/generated/
